<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./header.ejs') %>
    <form method="post">
      <label for="name">Item name</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%=typeof item === 'undefined'? '': item.name%>"
      />
      <label for="description">Item description</label>
      <input
        type="text"
        id="description"
        name="description"
        value="<%=typeof item === 'undefined'? '': item.description%>"
      />
      <label for="category">Item category</label>
      <select name="category" id="category">
        <% categories.forEach(element => { %> <% if (typeof item !== 'undefined'
        && element._id.toString() === item.category._id.toString()) { %>
        <option value="<%= element._id.toString() %>" selected>
          <%= element.name %>
        </option>
        <% } else { %>
        <option value="<%= element._id.toString() %>">
          <%= element.name %>
        </option>
        <% } %> <% }); %>
      </select>
      <label for="price">Price ($USD)</label>
      <input
        type="number"
        id="price"
        name="price"
        value="<%=typeof item === 'undefined'? '': item.price%>"
      />
      <label for="stock_no">Stock number</label>
      <input
        type="number"
        id="stock_no"
        name="stock_no"
        value="<%=typeof item === 'undefined'? '': item.stock_no%>"
      />
      <button>submit</button>
    </form>
  </body>
</html>
