<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./header.ejs') %>
    <h1>Explore over <%=numGenres%> categories</h1>
    <ul>
      <% genres.forEach(element => { %>

      <li>
        <a href="<%=element.url%>"><h1><%= element.name %></h1></a>
      </li>
      <h3><%= element.description %></h3>
      <% }); %>
    </ul>
  </body>
</html>
